<div class="footer">
  <div class="footer__inner container">
    <div class="footer__logo">
      <a href="homepage-design-concept-2.html">
        <img src="img/00-logo.png" alt="iED logo chint">
      </a>
      <p>iEd is committed to provide leading education technology to educators and students in Asia.</p>
    </div>
    <div class="footer__links">
      <ul class="links__list">
        <li class="links__item">
          <a href="educational-institution.html">Educational Institutions</a>
        </li>
        <li class="links__item">
          <a href="students.html">Students</a>
        </li>
        <li class="links__item">
          <a href="why-iEd-3.html">About iEd</a>
        </li>
        <li class="links__item">
          <a href="contact-us.html">Contact Us</a>
        </li>
        <li class="links__item">
          <a href="partnership.html">Partnerships</a>
        </li>
        <li class="links__item">
          <a href="faqs.html">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="footer__qr">
      <img src="img/Bitmap.png">
    </div>
  </div>
  <div class="container">
    <div class="footer__line"></div>
  </div>
  <div class="footer__inner container">
    <span>Copyright © 2014-2019 Immersive Education. All Rights Reserved.</span>
    <ul class="footer__list">
      <li class="list__item">
        <a href="terms-and-conditions.html">Terms of Service</a>
      </li>
      <li class="list__item">
        <a href="privacy-policy.html">Privacy &amp; Policy</a>
      </li>
    </ul>
  </div>
</div>