@font-face {
  font-family: GothaProBla;
  src: local("GothaProBla"), url(../fonts/GothaProBla.otf); }

@font-face {
  font-family: GothaProLig;
  src: local("GothaProLig"), url(../fonts/GothaProLig.otf); }

@font-face {
  font-family: GothaProReg;
  src: local("GothaProReg"), url(../fonts/GothaProReg.otf); }
