* {
  margin: 0;
  padding: 0; }

body {
  background: #ffc255;
  overflow: hidden; }

a {
  cursor: pointer; }

.line {
  display: block;
  position: fixed;
  border-right: 1px dashed #000;
  width: 1px;
  height: 100vh;
  z-index: 100;
  left: 50%;
  transform: translateX(-429.5px); }

section {
  padding: 33px 0 48px;
  width: 479px;
  margin: 0 auto;
  height: calc(100vh - 81px);
  display: flex;
  flex-direction: column;
  justify-content: center; }

.round-inside {
  width: 479px;
  height: 479px;
  position: relative; }

svg {
  max-width: 479px;
  stroke: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.st0, .st1 {
  opacity: .03; }

.title {
  font-family: "GothaProBla", sans-serif;
  font-weight: 800;
  font-size: 55px;
  text-transform: uppercase;
  padding: 0 0 0 85px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.title__row {
  position: relative; }

.title span {
  display: block; }

p {
  margin: 0 auto;
  font-family: "GothaProLig", sans-serif;
  font-size: 16px;
  padding: 40px 85px 0;
  position: relative; }

.st25 {
  fill: transparent;
  opacity: 1;
  stroke-width: 20;
  stroke-miterlimit: 10; }

.question-block {
  margin: 0 auto;
  font-family: "GothaProBla", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  padding: 40px 0 0;
  position: relative; }

.question-block a {
  border: 2px solid #000;
  width: 185px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  display: inline-block;
  border-radius: 25px;
  text-decoration: none;
  color: #000;
  margin: 0 10px;
  position: relative;
  transition: all ease .3s; }

.question-block a:hover {
  color: #ffc255 !important; }

.question-block a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: 46px;
  height: calc(100% - 4px);
  background: #000;
  border-radius: 23px;
  opacity: 0;
  border: 2px solid #000;
  transition: all ease .3s;
  z-index: -1; }

.question-block a:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  height: calc(100% - 4px);
  background: #000;
  border-radius: 23px;
  opacity: 1;
  border: 2px solid #000; }

#choose .round-inside::before {
  content: "choose";
  display: block;
  width: 240px;
  height: 240px;
  line-height: 240px;
  text-align: center;
  text-transform: uppercase;
  font-family: "GothaProBla", sans-serif;
  font-size: 12px;
  position: absolute;
  top: calc(50% - 120px);
  left: 100%;
  transform: rotate(90deg); }

#choose .round-inside::after {
  content: "choose";
  display: block;
  width: 240px;
  height: 240px;
  line-height: 240px;
  text-align: center;
  text-transform: uppercase;
  font-family: "GothaProBla", sans-serif;
  font-size: 12px;
  position: absolute;
  top: calc(50% - 120px);
  left: -240px;
  transform: rotate(-90deg); }

#thanks svg {
  width: 30px;
  height: 30px;
  position: relative; }

.loser {
  width: 100vw;
  height: 100vh;
  z-index: 99;
  position: fixed;
  background: #ffc255;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center; }

.loser svg .st1, .loser svg .st0 {
  opacity: 1; }

.loser .round-inside {
  margin: 0 auto; }

.loser span {
  text-transform: uppercase;
  font-family: "GothaProBla", sans-serif;
  font-size: 55px;
  text-align: center;
  display: block;
  opacity: .03;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  pointer-events: none; }

.loser .round-inside::after {
  content: "LOOO" !important;
  display: block;
  width: 240px;
  height: 240px;
  line-height: 240px;
  text-align: right !important;
  text-transform: uppercase;
  font-family: "GothaProBla", sans-serif;
  font-size: 55px !important;
  position: absolute;
  top: calc(50% - 120px);
  left: -250px !important;
  transform: none !important; }

.loser .round-inside::before {
  content: "OSER" !important;
  display: block;
  width: 240px;
  height: 240px;
  line-height: 240px;
  text-align: left !important;
  text-transform: uppercase;
  font-family: "GothaProBla", sans-serif;
  font-size: 55px !important;
  position: absolute;
  top: calc(50% - 120px);
  left: calc(100% + 10px) !important;
  transform: none !important; }

.loser .question-block {
  position: relative;
  opacity: 0;
  top: 25px; }

.loser .question-block a {
  width: auto;
  padding: 0 45px; }

::selection {
  background: #000;
  color: #fff; }

::-moz-selection {
  background: #000;
  color: #fff; }
