* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: Benton;
  src: local("BentonSans-Regular"), url(../fonts/BentonSans-Regular.otf); }

@font-face {
  font-family: BentonMedium;
  src: local("BentonSans-Medium"), url(../fonts/BentonSans-Medium.otf); }

@font-face {
  font-family: BentonBold;
  src: url("../fonts/bentonsans-bold-webfont.woff2") format("woff2"), url("../fonts/bentonsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: CronosBold;
  src: local("CronosPro-Bold"), url(../fonts/CronosPro-Bold.otf); }

@font-face {
  font-family: CronosLight;
  src: local("CronosPro-Lt"), url(../fonts/CronosPro-Lt.otf); }

@font-face {
  font-family: BentonSans-CondensedLight;
  src: local("BentonSansCond-Light"), url(../fonts/BentonSansCond-Light.otf); }

@font-face {
  font-family: BentonSans-CondensedMedium;
  src: local("BentonSansCond-Medium"), url(../fonts/BentonSansCond-Medium.otf); }

@font-face {
  font-family: BentonSans-CondensedRegular;
  src: local("BentonSansCond-Regular"), url(../fonts/BentonSansCond-Regular.otf); }

@font-face {
  font-family: Digital-7Mono;
  src: local("digital-7-Mono"), url(../fonts/digital-7-Mono.otf); }

@font-face {
  font-family: AvenirNextCondensed-Medium;
  src: local("AvenirNextCondensed-Medium"), url(../fonts/AvenirNextCondensed-Medium.otf); }

@font-face {
  font-family: proximanova-regular;
  src: local("proximanova-regular"), url(../fonts/proximanova-regular.otf); }

body {
  height: 100%;
  background: #fafafa; }

.frame-container {
  position: relative;
  min-height: 480px; }

.frame {
  width: 100%;
  height: 100%;
  min-height: 100px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  margin-bottom: 170px; }
  .frame .frame__image {
    width: 100%;
    overflow: hidden; }
    .frame .frame__image img, .frame .frame__image svg, .frame .frame__image .image__image-container {
      height: 100%;
      width: auto;
      display: block; }
      .frame .frame__image img img, .frame .frame__image img svg, .frame .frame__image svg img, .frame .frame__image svg svg, .frame .frame__image .image__image-container img, .frame .frame__image .image__image-container svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .frame .frame__copy {
    position: absolute;
    z-index: 2;
    bottom: -150px;
    height: 80px;
    left: 0;
    width: calc(100% - 135px);
    max-width: 1500px;
    padding: 35px 55px;
    font-size: 32px;
    display: flex;
    color: #fff;
    background: #00313c;
    font-family: "BentonSans-CondensedMedium", sans-serif; }
    .frame .frame__copy .copy-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 110px);
      padding: 35px 55px;
      height: 80px; }
      .frame .frame__copy .copy-container p {
        margin: auto 0; }
      .frame .frame__copy .copy-container .strong {
        font-size: 72px;
        font-family: 'BentonSans-CondensedLight';
        text-transform: uppercase; }
      .frame .frame__copy .copy-container svg {
        display: block;
        position: relative;
        top: -25px;
        margin-left: 25px; }
    .frame .frame__copy .copy__buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: absolute;
      bottom: 160px;
      left: 50%;
      transform: translateX(-50%); }
      .frame .frame__copy .copy__buttons .button-copy {
        width: 10px;
        height: 10px;
        border: 3px solid #00313c;
        background: #fafafa;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer; }

.copy-right .frame .frame__copy {
  left: inherit;
  right: 0; }
  .copy-right .frame .frame__copy .copy__buttons {
    top: 160px;
    bottom: inherit; }

.copy-reverse .frame {
  margin: 170px 0 0; }
  .copy-reverse .frame .frame__copy {
    top: -150px;
    bottom: inherit; }
    .copy-reverse .frame .frame__copy .copy__buttons {
      top: 160px;
      bottom: inherit; }

#Svg_1, #Svg_9, #Svg_3 {
  cursor: ew-resize; }

.Svg_2 {
  background: linear-gradient(to bottom, #92D8D3, #fafafa);
  height: 100%; }

#Svg_2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

#frame4 svg, #frame4 img {
  width: 200%;
  left: 50%;
  transform: translateX(-50%); }

#Svg_3 {
  background: linear-gradient(to top, #92D8D3, #fafafa); }

#frame5 .button {
  display: block;
  width: 440px;
  height: 78px;
  margin: auto;
  background: #e35205;
  border: 5px solid #fff;
  border-radius: 10px;
  vertical-align: middle;
  font-family: "BentonBold", sans-serif;
  text-transform: uppercase;
  text-decoration: none !important;
  color: #fff !important;
  font-size: 32px;
  line-height: 78px;
  font-size-adjust: auto;
  transition: background ease-out .15s;
  position: absolute;
  bottom: 25px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%); }

#frame5 .button:hover {
  background: #d24100; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative; }
  .footer .col-md-4 {
    width: 33%;
    display: inline-block; }
    .footer .col-md-4 a {
      display: block; }

.input__border {
  width: calc(100% + 60px) !important; }

.draw-trigger {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 1000000; }

#contact {
  transform: translateY(200vh);
}

@media (max-width: 1200px) {
  .frame .frame__copy {
    font-size: 28px; }
    .frame .frame__copy .copy-container .strong {
      font-size: 64px; } }

@media (max-width: 992px) {
  .frame .frame__copy {
    font-size: 21px; }
    .frame .frame__copy .copy-container .strong {
      font-size: 48px; }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; }
    .footer .col-md-4 {
      width: 100%;
      display: block; } }

@media (max-width: 767px) {
  .frame .frame__copy {
    font-size: 18px; }
    .frame .frame__copy .copy-container .strong {
      font-size: 36px; }
    .frame .frame__copy {
      height: 120px;
      width: calc(100% - 110px);
      text-align: center;
      bottom: -190px; }
    .frame .frame__copy .copy-container {
      display: flex;
      height: 120px;
      flex-direction: column;
      justify-content: space-between;
      position: absolute; }
  .frame .frame__copy .copy-container svg {
    top: 15px;
    height: 60px!important;
    margin-left: 0;
  }
  .frame .frame__copy .copy__buttons {
    bottom: 200px;
  }
  .copy-reverse .frame .frame__copy .copy__buttons {
    top: 200px;
  }
  #keys {
    display: none!important;
  }
  .footer {
    padding: 20px!important;
  }
  .frame .frame__copy .copy-container p {
    margin-top: 0;
  }
  #contact input[type="text"], #contact textarea {
    width: calc(100% - 60px)
  }
  .input__border {
    width: 100%!important;
  }
}

@media (max-width: 560px) {
  .frame .frame__copy {
    font-size: 17px; }
    .frame .frame__copy .copy-container .strong {
      font-size: 32px; }
  .button {
    width: 100% !important;
    max-width: 260px !important;
    font-size: 16px !important;
    height: 40px !important;
    line-height: 40px !important; } }

@media screen and (min-aspect-ratio: 1.4 / 1) {
  .frame {
    justify-content: center; } }
