* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; }

.row {
  position: relative; }

.header {
  height: 120px;
  line-height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  .header .logo {
    width: 79px;
    height: 28px;
    margin: 46px 0;
    background: url("../img/logo.png"); }
  .header .col-md-9 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .header .col-md-9 a {
      text-transform: uppercase;
      padding-left: 36px;
      font-size: 14px;
      color: #fff;
      font-weight: 600; }
    .header .col-md-9 a:first-child {
      padding: 0; }

.home {
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  background: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex; }
  .home .container {
    margin: auto;
    text-align: center; }
  .home h3 {
    font-family: serif;
    font-style: italic;
    font-size: 40px; }
  .home h1 {
    margin-top: 43px;
    font-size: 75px;
    text-transform: uppercase;
    font-weight: 700; }
  .home a {
    margin-top: 55px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    background: #fed136;
    height: 65px;
    line-height: 65px;
    width: 240px;
    display: inline-block;
    cursor: pointer; }
  .home a {
    border-radius: 3px; }

section {
  padding: 120px 0;
  color: #222;
  text-align: center; }
  section h4, section h5 {
    display: block;
    width: 100%; }
  section h4 {
    font-size: 40px;
    text-transform: uppercase; }
  section h4 {
    font-weight: 700; }
  section h5 {
    font-family: serif;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 72px; }
  section h6 {
    font-size: 18px;
    margin-top: 25px; }
  section h6 {
    font-weight: 700; }
  section p {
    font-family: serif;
    font-size: 14px;
    max-width: 240px;
    margin: 0 auto; }

.portfolio {
  background: #f7f7f7;
  padding-bottom: 70px; }
  .portfolio .col-md-4 {
    margin-bottom: 50px; }
  .portfolio img {
    width: 100%; }
  .portfolio .text-container {
    background: #fff; }
    .portfolio .text-container h6 {
      padding-top: 30px;
      margin: 0; }
    .portfolio .text-container p {
      font-style: italic;
      color: #737373;
      padding-bottom: 28px; }

.menu-button {
  position: absolute;
  top: 46px;
  right: 0;
  width: 28px;
  height: 28px;
  background: #fff;
  cursor: pointer;
  z-index: 99;
  display: none; }

@media (max-width: 767px) {
  .menu-button {
    display: block; }
  .home {
    min-height: 500px; }
  h1 {
    font-size: 48px !important; }
  h3 {
    font-size: 32px !important; }
  .menu-box {
    width: 50vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50vw;
    flex-direction: column !important;
    justify-content: center !important;
    background: #737373;
    z-index: 98;
    transition: all ease .5s;
    transform: translateX(100%); }
    .menu-box a {
      padding: 0 !important;
      text-align: center;
      line-height: 40px; }
  .services {
    padding-bottom: 48px; }
    .services .col-md-4 {
      margin-bottom: 72px; }
  .portfolio .col-md-4 {
    max-width: 320px;
    position: relative;
    left: 50%;
    transform: translateX(-50%); } }
