body, html {
  overflow-x: hidden; }

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: #1F1F1F; }

*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.nav-scroller {
  background: #EDF7FA;
  min-height: 46px;
  padding: 14px 0 13px; }
  .nav-scroller span {
    font-size: 14px;
    font-weight: 500; }

.nav-link {
  color: #FF8364;
  padding: 0;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease; }
  .nav-link img {
    width: 14px;
    height: 22px;
    float: left;
    margin-right: 6px;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: contain;
    object-fit: contain; }
  .nav-link span {
    font-size: 16px;
    font-weight: 700; }

.nav-link:hover {
  color: #FFB677;
  text-decoration: none; }

.navbar {
  background: #5F6CAF;
  padding: 0; }
  .navbar .row {
    width: 100%;
    margin: 0; }
    .navbar .row .col-lg-12 {
      padding: 0; }
  .navbar .nav-item .nav-link {
    color: #EDF7FA;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 16px;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease; }
  .navbar .nav-item .nav-link:hover {
    color: #FFB677; }
  .navbar .active .nav-link {
    color: #FF8364; }
  .navbar .active .btn {
    background: #EDF7FA;
    color: #FF8364; }
  .navbar .btn {
    margin-left: 16px; }

.navbar-brand {
  font-size: 21px;
  padding: 16px 0;
  font-weight: 700;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #FFF;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease; }
  .navbar-brand .color {
    color: #FFB677;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease; }

.navbar-brand:hover {
  color: #FFFFFF;
  text-decoration: none; }
  .navbar-brand:hover .color {
    color: #FF8364; }

.btn {
  padding: 8px 16px;
  border-radius: 5px;
  background: #FF8364;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease; }

.btn:hover {
  background: #FFB677;
  color: #FFF; }

section {
  margin: 80px 0; }

.illustration-chart svg {
  margin-right: 48px;
  margin-bottom: 48px; }

.illustration-chart svg:last-child {
  margin-right: 0; }

h1, h3 {
  font-weight: 700;
  font-family: 'Montserrat Alternates', sans-serif; }

h1 {
  font-size: 32px;
  margin-bottom: 20px; }

h3 {
  font-size: 26px;
  margin-bottom: 20px; }

h1 + p {
  margin-bottom: 36px;
  font-size: 16px; }

p {
  font-size: 14px; }

.card.bg-warning {
  border: 0;
  background-color: transparent !important; }
  .card.bg-warning .card-header {
    background: #FF8364;
    border: 0;
    border-radius: 5px 5px 0 0;
    padding: 8px 16px; }
    .card.bg-warning .card-header h4 {
      font-size: 14px;
      font-weight: 500;
      color: #FFF; }
  .card.bg-warning .card-body {
    background: #FFB677;
    color: #1F1F1F;
    border-radius: 0 0 5px 5px;
    padding: 8px 16px;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s; }
    .card.bg-warning .card-body p {
      margin-bottom: 0; }

.card.bg-primary {
  border: 0;
  background-color: transparent !important; }
  .card.bg-primary .card-header {
    background: #5F6CAF;
    border: 0;
    border-radius: 5px 5px 0 0;
    padding: 8px 16px; }
    .card.bg-primary .card-header h4 {
      font-size: 14px;
      font-weight: 500;
      color: #FFF; }
  .card.bg-primary .card-body {
    background: #EDF7FA;
    color: #1F1F1F;
    border-radius: 0 0 5px 5px;
    padding: 8px 16px;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s; }
    .card.bg-primary .card-body p {
      margin-bottom: 0; }

a.card:hover {
  text-decoration: none; }

.card.bg-warning:hover .card-body {
  background: #FF8364;
  color: #FFF; }

.card.bg-primary:hover .card-body {
  background: #5F6CAF;
  color: #FFF; }

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
  background-color: transparent !important; }

.contact-icons img {
  display: block;
  margin-bottom: 20px; }

.contact-icons a {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
  color: #FF8364; }

.card.bg-secondary {
  border: 0;
  background-color: transparent !important; }
  .card.bg-secondary .card-header {
    background: #EDF7FA;
    border: 0;
    border-radius: 5px 5px 0 0;
    padding: 20px 16px; }
    .card.bg-secondary .card-header h4 {
      font-size: 21px;
      font-weight: 700;
      font-family: 'Montserrat Alternates', sans-serif; }
  .card.bg-secondary .card-body {
    background: #FFF;
    border: 1px solid #EDF7FA;
    color: #1F1F1F;
    border-radius: 0 0 5px 5px;
    padding: 24px 16px 16px; }
    .card.bg-secondary .card-body p {
      margin-bottom: 20px; }
    .card.bg-secondary .card-body p:last-child {
      margin-bottom: 0; }

footer {
  margin-bottom: 64px; }
  footer .nav-item .nav-link {
    color: #5F6CAF;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 16px;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease; }
  footer .nav-item .nav-link:hover {
    color: #FFB677; }
  footer .active .nav-link {
    color: #FF8364; }
  footer .active .btn {
    background: #EDF7FA;
    color: #FF8364; }
  footer .btn {
    margin-left: 16px; }
  footer span {
    display: block;
    margin-top: 32px; }

.navbar-toggler {
  background: #FF8364;
  padding: 8px 10px;
  height: 38px;
  border: 0;
  border-radius: 5px; }
  .navbar-toggler img {
    vertical-align: inherit; }

#_34-chat #Path_11, #_34-chat #Line_6, #_34-chat #Line_7 {
  opacity: 0; }

#_36-404_error #Path_14, #_36-404_error #Path_15, #_36-404_error #Path_16, #_36-404_error #Path_17, #_36-404_error #Rectangle_8 {
  opacity: 0; }

form label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px; }

form img {
  display: block;
  height: 40px;
  margin-bottom: 20px; }

form a {
  color: #FFB677;
  text-decoration: underline;
  margin-bottom: 20px;
  display: inline-block; }

.form-control {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 5px;
  border-color: #EDF7FA;
  color: #1F1F1F;
  margin-bottom: 20px; }

.form-control::-webkit-input-placeholder {
  color: #5F6CAF; }

.form-control:-ms-input-placeholder {
  color: #5F6CAF; }

.form-control::-ms-input-placeholder {
  color: #5F6CAF; }

.form-control::placeholder {
  color: #5F6CAF; }

.form-control:active {
  color: #5F6CAF; }

.form-group {
  margin-bottom: 0; }

.form-control:focus {
  background-color: #fff;
  border: 1px solid #FF8364;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn-primary {
  background: #5F6CAF;
  border: 0;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500; }

@media (max-width: 991.98px) {
  .navbar .d-flex {
    display: block !important; }
  .navbar .btn {
    margin-left: 0; }
  .navbar .row .col-lg-12 {
    padding: 0 15px; }
  .navbar-toggler {
    position: absolute;
    right: 0;
    top: 13px; }
  .nav-item {
    margin: 20px 0; }
    .nav-item .nav-link {
      color: #EDF7FA;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 0 16px; }
  .active .nav-link {
    color: #FF8364; }
  .illustration-chart {
    margin-top: 80px; }
  .col-auto:first-child {
    padding-right: 24px; }
  .col-auto:last-child {
    padding-left: 24px; }
  .card-deck .card {
    margin-bottom: 36px; }
  .contact-icons {
    margin-bottom: 44px; } }

@media (max-width: 575.98px) {
  .navbar-toggler {
    right: 15px; }
  .illustration-chart svg {
    margin-right: 24px;
    margin-bottom: 24px; }
  .illustration-chart svg:last-child {
    margin-right: 0; }
  .col-auto:first-child {
    padding-right: 12px; }
  .col-auto:last-child {
    padding-left: 12px; } }

@media (max-width: 414.98px) {
  footer .flex-row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important; }
  footer .btn {
    margin-left: 0; } }
