* {
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif; }

#button {
  width: 300px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #990;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: #fff;
  text-transform: uppercase; }

.popup {
  position: fixed;
  width: 350px;
  background: #eee;
  z-index: 99;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  padding: 75px;
  transition: all ease .25s; }

.close {
  width: 25px;
  height: 25px;
  background: #000;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer; }

.mask {
  width: 100vw;
  height: 100vh;
  background: #000;
  position: fixed;
  z-index: 98;
  opacity: .25;
  cursor: pointer;
  display: none; }

@media (max-width: 1200px) {
  .popup {
    width: calc(100vw - 150px);
    height: calc(100vh - 150px); }
  #button {
    width: 100%;
    max-width: 300px; } }

@media (max-width: 767px) {
  .popup {
    padding: 75px 25px;
    width: calc(100vw - 50px); } }
