@font-face
	font-family: "AzoSans"
	font-style: normal
	font-weight: 400
	src: local("AzoSans-Regular"), url("../fonts/AzoSans-Regular.otf")

@font-face
	font-family: "AzoSans"
	font-style: normal
	font-weight: 500
	src: local("AzoSans-Medium"), url("../fonts/AzoSans-Medium.otf")

@font-face
	font-family: "AzoSans"
	font-style: normal
	font-weight: 700
	src: local("AzoSans-Bold"), url("../fonts/AzoSans-Bold.otf")

@font-face
	font-family: "BebasNeueRegular"
	font-style: normal
	font-weight: 400
	src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.ttf")

@font-face
	font-family: "GothamLight"
	font-style: normal
	font-weight: 300
	src: local("GothamLight"), url("../fonts/GothamLight.otf")