@import 'fonts';
@import 'grid';
@import 'scales';

// *************************************************
// змінні

$main-font: "GothamLight", sans-serif
  
// *************************************************

// *************************************************
// очищення

*, ::after, ::before
  margin: 0
  padding: 0
  box-sizing: border-box

input[type=text], input[type=submit], textarea
  -webkit-appearance: none
  
// *************************************************

// *************************************************
// основні стилі

html
  font-size: 14px

body
  font-family: $main-font
  font-weight: 400
  font-style: normal
  -webkit-text-size-adjust: none
  
h1, h2, h3, h4, h5, h6
  font-style: normal
  margin-bottom: 10px
  
p
  margin-bottom: 10px
  
// додай цей стиль всюди, де може бути прокрутка всередині блока (меню, таблиця)
.ov-scroll 
  overflow-y: auto
  -webkit-overflow-scrolling: touch
  
.head
  background-image: url(../img/home-image-blue-overlay.jpg)
  background-size: cover!important
  background-position: center!important
  background-repeat: no-repeat!important
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100vh
  cursor: pointer
  overflow: hidden
  .head__logo
    margin: 165px 0
.head__action
  margin: 52px auto
  background: #08091e
  opacity: .9
  text-align: center
  box-shadow: 0px 0px 18px rgba(0,0,0,.35)
  max-width: 684px
  color: #fff
  padding: 50px 65px
  font-family: $main-font
  font-weight: 300
  font-size: 37.79px
  text-transform: uppercase
.head__footer-logo
  margin: 55px 0
  
.header
  background: #08091e
  height: 89px
  display: flex
  flex-direction: row
  justify-content: space-between
  background-size: cover!important
  background-position: center!important
  background-repeat: no-repeat!important
  .head__logo
    height: 49px
    margin: 20px
  button
    border: 0
    background: #002353
    width: 96px
    height: 89px
    vertical-align: top
    text-align: center
    cursor: pointer
    
.head__logo, .header button, .head__action, .head__footer-logo
  position: relative
    
// *************************************************

// *************************************************
// Mac («декстопи», < 1200px)

@media (max-width: 1199.98px)
  body
    background: #eee
  
// *************************************************

// *************************************************
// iPad Pro («планшети», < 992px) 

@media (max-width: 991.98px)
  body
    background: #ddd
  
// *************************************************

// *************************************************
// iPad («ландшафні», < 768px)

@media (max-width: 767.98px)
  body
    background: #ccc
  
// *************************************************
  
// *************************************************
// iPhone («телефони», < 576px)

@media (max-width: 575.98px)
  body
    background: #bbb
  
// *************************************************
    
.wrapper
  position: relative