.grid {
  display: flex;
  width: calc(100% - 140px);
  padding: 0 70px;
  flex-direction: row;
  justify-content: flex-start; }

.grid__column {
  position: relative; }

.grid__column_1 {
  width: 14.2857%; }

.grid__column_2 {
  width: 28.5714%; }

.grid__column_3 {
  width: 42.8571%; }

.grid__column_4 {
  width: 57.1428%; }

.grid__column_5 {
  width: 71.4285%; }

.grid__column_6 {
  width: 85.7143%; }

.grid__column_7 {
  width: 100%; }

@media (max-width: 800px) {
  .grid {
    flex-direction: column;
    width: calc(100% - 50px);
    padding: 0 25px; }
  .grid__column_1, .grid__column_2, .grid__column_3, .grid__column_4, .grid__column_5, .grid__column_6, .grid__column_7 {
    width: 100%; } }
