* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 12px;
  background: #007AFF;
}

.head {
  height: 634.33px;
  background: #89BEF8;
  padding: 12px;
  padding-left: max(12px, env(safe-area-inset-left));
  padding-right: max(12px, env(safe-area-inset-right));
}

/*
.nav {
  width: 100vw;
  height: 83px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #FFFFFF;
}*/
