* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 300vh;
}

.head {
  height: calc(100vh - 83px);
  background: #89BEF8;
}

/*
.nav {
  width: 100vw;
  height: 83px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #FFFFFF;
}*/
