* {
  margin: 0;
  padding: 0; }

body {
  background: #000; }

.lines {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.lines__line {
  width: calc(14.2857% - 20px);
  height: 100%;
  position: relative; }

.lines__line_side {
  width: 70px; }

.lines__line::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 100%;
  background: #212121; }

.lines__line::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

header .lines {
  z-index: 2; }

header .lines__line {
  background: #eee; }
