  <section id="carousel">
    <div class="carousel__bg">
      <div class="carousel__picture show">
        <img src="img/Dog-WIP-5-dog bigger-2-FINAL FLAT.jpg" alt="dog driving">
      </div>
      <div class="carousel__picture">
        <img src="img/Zermatt-FINAL-FLAT-3.jpg" alt="naked people">
      </div>
      <div class="carousel__picture">
        <img class="align-top" src="img/GettyImages-699608652 (1).jpg" alt="horse scating">
      </div>
      <div class="carousel__picture">
        <img src="img/Header-Image%20-%20Employee@2x.jpg" alt="men looking on the tree in the forest">
      </div>
      <div class="carousel__picture">
        <img class="align-top" src="img/Snail-GettyImages-102196600-re.jpg" alt="snail riding">
      </div>
      <div class="carousel__picture">
        <img src="img/maze-1804496-Final-FLAT-2 blue light-extra lane-FLAT.jpg" alt="">
      </div>
      <div class="carousel__picture">
        <img src="img/sheep-1246204-layers-gradient.jpg" alt="a wolf in sheep's clothing">
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="carousel__inner">
            <div class="carousel__copy sm-width">
              <div class="carousel__title">Wouldn’t you rather be in the driver’s seat?</div>
              <p>Losing control and transparency in your background check process could cost you your future. See how Certree puts you back in the driver’s seat:</p>
              <a href="employee.html" class="btn">Learn More</a>
            </div>
            <div class="carousel__copy sm-width">
              <div class="carousel__title">Think you are covered? <br>Think again.</div>
              <p>With over 5 billion records breached last year, we are all exposed in the eyes of a hacker. See how Certree protects your privacy:</p>
              <a href="employee.html" class="btn">Learn More</a>
            </div>
            <div class="carousel__copy">
              <div class="carousel__title">Is your employer gambling with your data?</div>
              <p>Many US employers send our employment and income information to a third party data aggregator who had numerous data breaches. See how Certree can help your employer protect your data:</p>
              <a href="employee.html" class="btn">Learn More</a>
            </div>
            <div class="carousel__copy">
              <div class="carousel__title">Just as your secrets are safe with a tree, you can trust your secrets with Certree. </div>
              <p>See how Certree protects your privacy:</p>
              <a href="employee.html" class="btn">Learn More</a>
            </div>
            <div class="carousel__copy">
              <div class="carousel__title">Going as fast as you can to verify <br>a candidate? </div>
              <p>Change your ride to Certree. Learn how Certree speeds up your employment screening process:</p>
              <a href="verifier.html" class="btn">Learn More</a>
            </div>
            <div class="carousel__copy sm-width">
              <div class="carousel__title">Can you afford to make hiring decisions with inaccurate data?</div>
              <p>There were over 5000 lawsuits for FCRA violations last year. See how Certree can help you mitigate compliance risks:</p>
              <a href="verifier.html" class="btn">Learn More</a>
            </div>
            <div class="carousel__copy sm-width">
              <div class="carousel__title">Frustrated over another wrong hire?</div>
              <p>85 percent of employers caught applicants fibbing on their résumés. See how Certree eliminates applicant fraud:</p>
              <a href="employer.html" class="btn">Learn More</a>
            </div>
          </div>
        </div>
        <div class="carousel__control">
          <div class="control__number">01</div>
          <div class="control__total">07</div>
          <div class="control__progress"></div>
          <div class="control__left">
            <img src="img/arrow-left.svg" alt="">
          </div>
          <div class="control__right">
            <img src="img/arrow-right.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>