<div class="footer">
      <div class="container">
        <div class="row">
          <div class="col d-flex">
            <div class="header__logo">
              <a href="index.html" class="header__link">
                <img src="img/Certree_Logo-notag-white.svg" alt="Certree logo">
              </a>
            </div>
              <ul class="navbar__nav">
                <li class="navbar__item">
                  <a class="navbar__link" href="employee.html">Employee</a>
                </li>
                <li class="navbar__item">
                  <a class="navbar__link" href="employer.html">Employer</a>
                </li>
                <li class="navbar__item">
                  <a class="navbar__link" href="verifier.html">Verifier</a>
                </li>
                <li class="navbar__item">
                  <a class="navbar__link" href="#">Privacy Policy</a>
                </li>
                <li class="navbar__item">
                  <a class="navbar__link" href="#">About</a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>