<section id="scroll-magic">
  <div class="container">
    <div class="row" id="row1">
      <div class="offset-lg-1 col-lg-4">
        <div class="titles-container">
          <div class="magic-arrow">
            <img src="img/arrow-down.svg" alt="">
          </div>
          <div class="title active" id="title1">
            Employee
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="copy-container">
          <div class="copy active" id="copy1">
            <h3>Be the captain of your own ship.</h3>
            <p>Avoid hidden risks of not controlling your own data.</p>
            <a href="employee.html" class="btn">
              <img src="img/icon/angle-right.svg" alt="">
              Read More
            </a>
            <a href="#">Sign up to request your document</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="row2">
      <div class="offset-lg-1 col-lg-4">
        <div class="titles-container">
          <div class="title" id="title2">
            Employer
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="copy-container">
          <div class="copy" id="copy2">
            <h3>Out of sight cannot be out of mind.</h3>
            <p>Outsourcing your employee data to a third party data aggregator does not free you of liability.</p>
            <a href="employer.html" class="btn">
              <img src="img/icon/angle-right.svg" alt="">
              Read More
            </a>
            <a href="#">Sign up to request your document</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="row3">
      <div class="offset-lg-1 col-lg-4">
        <div class="titles-container">
          <div class="title" id="title3">
            Verifier
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="copy-container">
          <div class="copy" id="copy3">
            <h3>No need to take the same risk, again and again.</h3>
            <p>See how Certree can help protect you from FCRA violations.</p>
            <a href="verifier.html" class="btn">
              <img src="img/icon/angle-right.svg" alt="">
              Read More
            </a>
            <a href="#">Sign up to request your document</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>