<div class="video-button__arrow-horizontal"></div>
<div class="video-button__arrow-vertical"></div>
<div class="video-button__arrow-finish"></div>
<a href="#play-video-button" class="video-button__link">
  <span>Смотреть видео</span>
  <svg xmlns="http://www.w3.org/2000/svg" width="62.824" height="69.118" viewBox="0 0 62.824 69.118">
    <path id="Фигура_8" data-name="Фигура 8" d="M812.844,231.267q.082-20.763-.076-41.526t17.783-10.31q17.94,10.452,36,20.7t.038,20.555q-18.022,10.311-35.925,20.829T812.844,231.267Z" transform="translate(-812.767 -175.931)" fill="#3a30f8"/>
</svg>
</a>